{% load static %}

<footer class="footer bg-dark mt-auto py-3 text-white">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-6">
                <h4>ACERCA DE</h4>
                <p class="lead">Esto fue un proyecto para la asignatura <b>Taller Integrado</b>, correspondiente al último año de
                    <i>Ing. en Informática</i> de la <i class="text-info">Universidad de Playa Ancha.</i></p>
                <h5>Tecnologías</h5>
                <ul class="list-group bg-dark list-group-flush">
                    <li class="list-group-item bg-dark">Django 3.0 | PostgreSQL 12 | Pandas</li>
                    <li class="list-group-item bg-dark">URLlib | BeautifulSoup 4 | Selenium</li>
                    <li class="list-group-item bg-dark">Scrapers para <i>portaltransparencia.cl</i> y <i>normbrerutyfirma.cl</i></li>
                    <li class="list-group-item bg-dark">API Superintendencia de Salud</li>
                </ul>
            </div>
            <div class="col-6">
                <h4>DESARROLLADO POR</h4>
                <h5 class="lead"><b>Nicolás Frías Rojas</b></h5>
                <h6 class="lead"><a href="https://github.com/nicosnow-cl">Repositorio en GitHub</a></h6>
                <h6 class="lead">Valparaíso, Chile (2020)</h6>
            </div>
        </div>
    </div>
</footer>