{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>TALLER INTEGRADO - TAREA 3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'libs/bootstrap-4.5.2-dist/css/litera_bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'libs/jquery/jquery-3.5.1.js' %}"></script>
</head>
<body>
    <div id="spinner-front">
        <div class="loader_global"></div>
        <h3 class="lead text-white text-center font-weight-bolder">Buscando...</h3>
    </div>
    <div id="spinner-back"></div>

    {% include 'modal.html' %}

    {% include 'header.html' %}

    {% include 'search.html' %}

    <div class="album py-5 bg-light">
        <div class="container">
            <div id="hospitales" class="row"></div>
        </div>
    </div>

    {% include 'footer.html' %}

<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="{% static 'libs/bootstrap-4.5.2-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>